*{
    box-sizing: border-box;
    margin: 0;
}
.gioco{
    color: red;
    background-color: rgb(15,92,150);
    display: flex;
    flex-direction: column;
    height: 100vh;
   
}
.gioco div{
    padding-top: 30px;
    background-color: #fff;
}
header{
    
    display: flex;
    justify-content: space-around;
}
main{
    height: 70vh;
    margin:auto
    
}
main .start{height: 50px;}
.immagini{
    display: flex;
    flex-direction: row;
    justify-content: space-between;}
img{
    width: 200px;
    height: 200px;
    visibility: hidden;
}
.vs{
    margin: 0;
    visibility: hidden;
}
.button{
    display: flex;
    flex-direction: row;
    gap:100px;
   
}
#btnCarta,#btnSasso,#btnForbice{ 

background-color: rgb(15,92,150);
color: red;
border-radius: 45%;
font-size: 25px;
}